@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(20, 18, 18, 0.936);
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
   padding: 12px 24px ;
   width: 10rem;
   text-align: center;
   font-size: 1rem;
}
.btn-primary {
  background-color: #646cff;
  color: #f2f2f2;
}
.btn-outlined {
  border: 1px solid #646cff;
  color: #646cff;
}
.btn-lg{
   width: 15rem;
}
.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.overlay{
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
.centrale{
  position: absolute;
  background-color: #f2f2f2;
  width: 35%;
  top: 50%;
  left: 50%;
  height: 70vh;
  transform: translate(-50%,-50%);
  /* height: 40%; */
}

.overlay-property{
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
.centrale-property{
  position: absolute;
  background-color: #f2f2f2;
  width: 60%;
  top: 50%;
  left: 50%;
  height: 60vh;
  transform: translate(-50%,-50%);
  /* height: 40%; */
}
